.containerWorks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 4rem;
  background-image: url("../assets/herobg.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  margin: 0 auto;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  max-height: 30rem;
}

.contentString {
  margin-top: 1.5rem;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 10rem;
}

.title {
  white-space: nowrap;
  font-size: 3rem;
  font-weight: 700;
}

.subTitle {
  --tw-text-opacity: 1;
  color: rgb(170 166 195 / var(--tw-text-opacity));
  display: flex;
  text-align: center;
  justify-content: center;
}

.subTitleModal{
  --tw-text-opacity: 1;
  color: rgb(170 166 195 / var(--tw-text-opacity));
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0 8.5rem;
}

.carousel {
  justify-content: center;
  align-items: center;
  display: flex;
}

.contentCarousel {
  display: flex;
  align-items: center;
  max-height: 25vh;
  justify-content: center;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.modalContent {
  border: 1px solid #ffffff;
  background-color: #050816;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  color: #ffffff;
  width: 50rem;
}

body.modalOpen {
  overflow: hidden;
}

.carouselImage {
  width: 15rem;
  object-fit: cover;
  margin-right: 2rem;
  margin-left: 2rem;
  opacity: 0.5;
  cursor: pointer;
  position: relative;
}

.carouselMainImage {
  max-width: 30rem;
  max-height: 20rem;
  object-fit: cover;
  margin-right: 2rem;
  margin-left: 2rem;
  cursor: pointer;
}

.buttonRight {
  background-color: transparent !important;
  cursor: pointer;
  position: fixed;
  right: 5%;
}

.buttonLeft {
  background-color: transparent !important;
  cursor: pointer;
  position: fixed;
  left: 5%;
}

.divVazia {
  width: 15rem;
  height: 5rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.modalImage {
  width: 30rem;
  margin: 1rem auto;
}

.linksModal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.aModal {
  cursor: pointer;
  margin: 0 2rem 2rem 0;
}

.aModal:hover {
  border-bottom: 2px solid #007bff;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
